
.header {
    text-align: center;
    height: 750px;
    margin-left: 15%;
    margin-left: 15%;
    margin-top: 16%;
}

.p1{
    text-align: left;
    font-family: "Fira code";
    font-style: regular;
    font-size: 35px;
}
.p2{
    text-align: left;
    font-family: "Fira Mono";
    font-style: regular;
    font-size: 15px;
}

.hr1{
    border :none;
    margin: auto;
    margin-top: -1.5%;
    height: 1px;
    background-color: #c2c2c2;
    width: 90%;
}

.button-appbar{
    color: inherit;
    flex-grow: 1;
}

